In [2]:
import pandas as pd

In [3]:
# Import dataframe
file = "election_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
#Number of Voters
num_voters = len(file_df["Voter ID"])
num_voters

3521001

In [6]:
file_df["Candidate"]
vote_counts = file_df["Candidate"].value_counts()
vote_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [9]:
grouped_df = file_df.groupby(['Candidate'])
grouped_df.count().head()

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [13]:
percent = round(100*(vote_counts/num_voters),2)
percent.head()

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [16]:
results_df = pd.DataFrame({
    "Percent of Votes": percent,
    "Total Votes": vote_counts
})
results_df

          Percent of Votes  Total Votes
Khan                  63.0      2218231
Correy                20.0       704200
Li                    14.0       492940
O'Tooley               3.0       105630

In [20]:
results_df = results_df.sort_values("Percent of Votes", ascending=False)
results_df

          Percent of Votes  Total Votes
Khan                  63.0      2218231
Correy                20.0       704200
Li                    14.0       492940
O'Tooley               3.0       105630

In [26]:
print("Total Votes: " + str(num_voters))
print("------------------------")
results_df.head()
print("Winner: Khan")

Total Votes: 3521001
------------------------
Winner: Khan